/**
* #141414 black
* #ffffff white
* #fff8b4 light yellow
* #270000 text on light yellow
* #ffff7d bright yellow
* #57d8ff cyan
* #ff4a3c red
*/

@font-face {
  font-family: "Cool Cursive";
  src: url(fonts/Arabella.woff);
	font-weight:400;
	font-style:italic;
}

@font-face {
  font-family: "Attractive Sans Serif";
  src: url(fonts/Futura-Medium.woff);
	font-weight:400;
	font-style:italic;
}

body{
	font-family: "Attractive Sans Serif";
	font-weight:normal;
	font-size:24px;
	letter-spacing: 0.2em;
}


header{
	font-family:"Attractive Sans Serif";
	text-transform: uppercase;
}
header section{
	display: flex;
	justify-content: space-between;
	padding: 0.25em;
}
header a{
	padding: 0.25em;
	text-decoration: none;
}

#headerUpper{
	background-color:#141414;
	color:white;
}
#headerUpper a:hover{ background-color:#333; }

#headerLower{
	background-color:white;
	color:#141414;
}

a[href="#columbia"]:hover{ background-color: #57d8ff; }
a[href="#registry"]:hover{ background-color: #ff4a3c; }
a[href="#about"]:hover{ background-color: #ffff7d; }

.card{
	background-size:cover;
	background-position:50% 50%;
	min-height:80vh;
	text-align: center;
}

.yellow-hello,
.photo-hello{
	font-family:"Cool Cursive";
	font-size:120pt;
}

.yellow-hello{
	color:#4e423b;
	background-color:lightyellow;
}

h2{
	transform:rotate(-4deg);
	font-weight:400;
	width:80%;
}

.photo-hello{
	color:white;
}

#columbia{
	background-image:url('senates-end.jpg');
}
#justUs{
	background-image:url('save-the-date.jpg');
}