@font-face {
  font-family: "Cool Cursive";
  src: url(fonts/Arabella.woff);
	font-weight:400;
	font-style:italic;
}

@font-face {
  font-family: "Attractive Sans Serif";
  src: url(fonts/Futura-Medium.woff);
	font-weight:400;
	font-style:italic;
}

body{
	font-family: "Attractive Sans Serif";
	font-weight:normal;
	font-size:24px;
}

.card{
	background-size:cover;
	background-position:50% 50%;
	height:100vh;
	text-align: center;
}



header{
	background-image:url('shoes.jpg');
}

header h1{
	font-family:"Attractive Sans Serif";
	font-size:24px;
	color:white;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-shadow: -0.1em 0.1em rgba(0,0,0,0.25);
}

.yellow-hello,
.photo-hello{
	font-family:"Cool Cursive";
	font-size:120pt;
}

.yellow-hello{
	color:#4e423b;
	background-color:lightyellow;
}

h1{
	transform:rotate(-4deg);
	font-weight:400;
}

.photo-hello{
	color:white;
}

#justUs{
	background-image:url('save-the-date.jpg');
}