/**
* #141414 black
* #ffffff white
* #fff8b4 light yellow
* #270000 text on light yellow
* #ffff7d bright yellow
* #57d8ff cyan
* #ff4a3c red
*/

@font-face {
	font-family: "Cool Cursive";
	src: url("fonts/Arabella.woff"),
	     url("fonts/Arabella.svg"),
	     url("fonts/Arabella.ttf");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Attractive Sans Serif";
	src: url("fonts/Futura-Medium.woff"),
	     url("fonts/Futura-Medium.svg"),
	     url("fonts/Futura-Medium.ttf");
	font-weight: 400;
	font-style: normal;
}

body{
	font-family: "Attractive Sans Serif";
	font-weight:normal;
	font-size:24px;
	letter-spacing: 0.2em;
}
@media (max-width: 700px){
	body{
		font-size:16px;
	}
}

header{
	font-family:"Attractive Sans Serif";
	background-color:#141414;
	color:white;
}
header div{
	padding: 0.25em;
}
header a{
	padding: 0.25em;
	text-decoration: none;
}

#headerUpper{
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;

}
#headerUpper a:hover{ background-color:#333; }

/*
#headerLower{
	font-size:80%;
	text-align:center;
}
@media (max-width: 700px){
	#headerLower{
		display:none;
	}
}
*/

a{ text-decoration: none; }
a[href="#columbia"]:hover{ background-color: #57d8ff; }
a[href="#registry"]:hover{ background-color: #ff4a3c; }
a[href="#about"]:hover{ background-color: #ffff7d; }

.card{
	background-size:cover;
	background-position:50% 50%;
}

.cushion{
	padding:2em;
	background-clip: border-box;
}

section{
	min-height:45vh;
	text-align: center;
}
@media (min-width: 700px){
	section{
		min-height:95vh;
	}
}

.yellow-hello{
	color:#270000;
	background-color:#fff8b4;
}


h1{
	font-size:100px;
}
.half h1{
	font-size:50px;
}
@media (max-width: 700px){
	h1{
		font-size:12vw;
	}
	.half h1{
		font-size:10vw;
	}
}

h2{
	font-family: "Cool Cursive";
	font-style: italic;
	font-size:100px;
	transform:rotate(-4deg);
	font-weight:400;
	width:80%;
	padding-bottom:0.3em;
	margin:0 auto;
}
@media (max-width: 700px){
	h2{
		font-size:12vw;
	}
}

.photo-hello{
	color:white;
}

.emoji{
	height:1em;
	width:auto;
	vertical-align:middle;
	margin-bottom:0.2em;
}

button,
.button{
	display:inline-block;
	font-size:110%;
	text-transform: uppercase;
	border:solid 2px black;
	padding:0.25em 0.75em;
	line-height:1em;
	border-radius:1em;
	cursor: pointer;
	background-color:transparent;
	text-align:center;
}

.white.button{
	border-color:white;
}

.frame{
	position:absolute;
	left:50%;
	top:50%;
	mix-blend-mode: multiply;
	border-width:6px;
	border-style:solid;
}

.frame.red{
	border-color:#ff4a3c;
	width:40vh;
	height:60vh;
	transform:translate(-177%,-73%) rotate(14deg);
	-webkit-transform:translate(-177%,-73%) rotate(14deg);
}
.frame.blue{
	border-color:#57d8ff;
	width:40vh;
	height:60vh;
	transform:translate(94%,-40%) rotate(-14deg);
	-webkit-transform:translate(94%,-40%) rotate(-14deg);
}
.frame.yellow{
	border-color:#ffff7d;
	width:60vh;
	height:60vh;
	transform:translate(20%,-10%) rotate(-4deg);
	-webkit-transform:translate(20%,-10%) rotate(-4deg);
}

.just-us{
	background-image:url('save-the-date.jpg');
}

.columbia{
	background-image:url('senates-end.jpg');
}

.hebrides{
	background-image:url('hebrides.jpg');
}

.house{
	background-image:url('house.jpg');
}

.download-the-date{
	background-color:#0081df;
	color:white;
}


.things-to-do .flickity-slider{
	display: flex;
}

.things-to-do article{
	width: 30%;
	min-width:250px;
	-webkit-flex: 1 1 15em;
	margin-right: 10px;
	border-radius: 5px;
	margin-bottom:2em;
}

.things-to-do caption{
	display:block;
	background-color:white;
}

.things-to-do a,
.things-to-do img{
	display:block;
	width:100%;
}

li{
	list-style: none;
	padding:1em;
}


dt,p{
	font-size:80%;
	letter-spacing: 0;
}

small,sup{
	font-size:50%;
	line-height:1em;
}

#registry{
	background-color:#45573a;
}

footer section{
	background-image:url(shoes.jpg);
	background-size: cover;
	background-position:center;
}
